@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap');

// card相关
.card-list {
  // 因为cards是float， 无法放到container里
  margin-bottom: 13px;
  img {
    height: 156px;
  }
  .ant-card {
    box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      transform: scale(1.1, 1.1);
      cursor: pointer;
    }
    .ant-card-meta-title {
      font-family: 'Bitter', serif;
    }
  }
  // 图片自适应container
  .ant-card-cover img{
    width: 100%;
  }
}

// container: 除了homepage都要
.site-layout-content {
  background: #fff;
  padding: 24px;
  height: auto;
  margin-left: 70px;
  margin-right: 70px;
}

[data-theme="dark"] .site-layout-content {
  background: #141414;
}

.ant-layout-footer {
  padding: 10px, 50px;
}

// search bar
.search-bar {
  padding-top: 15px;
  width: '70%';
}

.sign-in {
  padding-top: 10px;
}

.brand {
  color: white; 
  font-size: 30px;
}

// recipe view page
.detail-section {
  margin: 0 50px 20px 50px;
  padding: 22px;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .item {
    padding: 0 100px;
    img {
      width: 80%;
      border-radius: 5px;
      margin-left: 15%;
      padding-top: 20px;
    }
    .title-layout {
      padding-right: 100px;
    }
    .title {
      font-family: 'Lemonada', cursive;
    }
    .description {
      margin-top: 40px;
    }
  }

  .material {
    padding: 20px 200px;
    p {
      font-family: 'Source Sans Pro', sans-serif;;
    }
    .ant-list {
      margin-left: 10%;
      margin-right: 10%;
    }
    .ant-card {
      font-weight: lighter;
    }
  }
  .process {
    padding: 20px 200px;
    .step {
      margin-left: 10%;
      margin-right: 10%;
    }
    .ant-steps-item-icon{
      background-color: #fff;
      .ant-steps-icon {
        display: block;
        margin: 8px;
        color: black;
      }
    }
  }
}

// home page
.carousel {
  img {
    width: 100%;
    background-size: cover;
  }
  .ant-carousel .slick-slide {
    width: 100%;
    text-align: center;
    line-height: 160px;
    overflow: hidden;
  }
  span {
    position: absolute;
    left: 20%;
    top: 20%;
    font-family: 'Marck Script', cursive;
    font-size: 250px;
    color: white;
    text-shadow:0px 0px 10px #000;
  }
}

// form for create
.step-input {
  .ant-space {
    width: 100%;
    .ant-space-item {
      width: 100%;
    }
  }
}

// form for edit
.edit-form {
  margin-left: 20%;
  margin-right: 20%;
  // .step-input {
  //   .ant-space {
  //     display: inline-flex;
  //     .ant-space-item {
  //       float: left;
  //       width: 100%;
  //     }
  //   }
  // }
}

// profile
.user-info{
  margin: 0 20%;
}

.user-recipe {
  margin: 0 10%;
}

// modal
.modal-list {
  position: fixed;
  bottom: 10%;
  right: 1%;
}

.space-align-block {
  margin: 20px 10px;
  padding: 4px;
  flex: none;
}