@import 'antd/dist/antd.css';

// card相关
.card-list {
  // 因为cards是float， 无法放到container里
  // float: left;
  margin-bottom: 13px;
  img {
    height: 156px;
  }
  .ant-card {
    box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      transform: scale(1.1, 1.1);
      cursor: pointer;
    }
  }
  // 图片自适应container
  .ant-card-cover img{
    width: 100%;
  }
}

// layout相关：header/container/footer
.site-layout-content {
  background: #fff;
  padding: 24px;
  height: auto;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
  [data-theme="dark"] .site-layout-content {
    background: #141414;
  }
  [data-theme="dark"] .logo {
    background: rgba(255,255,255,0.3);
  }

.search-bar {
  padding-top: 15px;
  width: '70%';
}

.sign-in {
  padding-top: 10px;
}

.brand {
  color: white; 
  font-size: 30px;
}

.detail-section {
  margin: 0 50px 20px 50px;
  padding: 22px;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .item {
    display: flex;
    overflow: hidden;
    margin-left: 20%;
    img {
      float: left;
      width: 260px;
      height: 190px;
      border-radius: 5px;
    }
    .info {
      float: left;
      box-sizing: border-box;
      margin: 5px 25px 0 28px;
      padding: 8px 15px 0 15px;
      font-weight: bold;
    }
  }
  .content {
    margin: 15px 15px 10px 15px;
    padding: 5px;
  }
  .material {
    margin-left: 10%;
    margin-right: 10%;
    p {
      font-weight: bold;
    }
    .ant-list {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  .process {
    margin-left: 10%;
    margin-right: 10%;
    // margin-top: 10px;
    p {
      font-weight: bold;
    }
    .ant-list {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}